.course-card{
    border: none !important;
    margin-bottom: 2rem;
    width: 16rem;
}

.all-img{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0;
}

.card-text p{
    font-weight: 400 !important;
}


.course-link{
    text-decoration: none;
}

.grid-container .course-link {
    text-decoration: none;
}

.grid-container .course-card {
    transition: transform 0.2s ease;
}

.grid-container .course-card:hover {
    transform: scale(1.05);
}
