.addRev {
    background-color: #ff4040 !important;
    color: white !important;
    font-weight: 600 !important;
    border: 2px solid black !important;
    border-radius: 0 !important;
    transition: border-radius 0.15s ease-in !important;
    padding: 10px !important;
    font-size: 1rem;
}
  
.addRev:hover {
    border-radius: 20px !important;
}

.edRev{
    border: 1px solid black !important;
    color: black !important;
}

.insBuy{
    background-color:white;
    padding:23px;
    width:17rem;
    font-weight:700;
    color:black !important;
    font-size:1.1rem !important;
    border:1px solid black !important;
    border-radius: 0;
}

.updPro{
    padding:0 !important;
    background-color:white;
    color:black !important;
    font-weight:bold !important;
    border:none !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    margin-right: 20px;
    box-shadow: none;
}

.updPro:hover{
    text-decoration: underline;
}

.delPro:hover{
    text-decoration: underline;
}

.delPro{
    padding:0 !important;
    background-color:white !important;
    color:black !important;
    font-weight:bold !important;
    border:none !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    margin-right: 20px;
    box-shadow: none;
}

.updCou{
    border-radius: none !important;
    background-color: #2D2F31 !important;
    border: #2D2F31 !important;
    color: #ff4040 !important;
    font-weight: 500;
    padding: 0;
}

.delCou{
    border-radius: none !important;
    background-color: #2D2F31 !important;
    border: #2D2F31 !important;
    color: white !important;
    font-weight: 500;
    padding: 0;
}
